atomicwrites
attrs
beautifulsoup4
bitstring
bs4
cffi
cryptography
ecdsa
esptool
exceptiongroup
iniconfig
more-itertools
packaging
pluggy
pyaes
pycparser
pyparsing
pyserial
pytest
pytest-ordering
pyudev
reedsolo
rshell
six
soupsieve
tomli
